<IfModule mod_mime.c>
    AddType image/webp .webp
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(webp)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
</IfModule>